{% extends 'base.html' %}


{% block title %}
CS Machines
{% endblock %}


{% block body %}
<h1> UNM CS Machines</h1>
    <h5> This data is updated every 5 minutes </h5>

    <div class="flex-container">
        <div id="B146Grid" style="width: 1000px;height:1200px;"></div>
        <div id="FE2065Grid" style="width: 1000px;height:1000px;"></div>
    </div>



    <script>
        const hosts = {{ APIData |tojson }};

        renderHeatmap(document.getElementById('B146Grid'), 6, 'B146','cpu_util');
        renderHeatmap(document.getElementById('FE2065Grid'), 5, 'FE2065', 'cpu_util');

        function renderHeatmap(element, gridWidth, groupName, itemName){
            groupData = hosts[groupName]
            const gridHeight = Math.ceil(groupData.length / gridWidth);

            var i = 0, zValues = [];
            const item_data = groupData.map((h) => h[itemName])
            for(i = 0; i < gridHeight; i++){
                zValues.push(item_data.splice(0,gridWidth));
            }

            var colorscaleValue = [
                ['0.0', '#08a400'],
                ['0.2', '#ffd500'],
                ['1', '#ff0000']
            ];

            var data = [{
                z: zValues,
                type: 'heatmap',
                colorscale: colorscaleValue,
                showscale: false,
                hoverongaps: false,
                zmin: 0.0,
                zmax: 100
            }];

            var layout = {
                title: groupName + ' CPU Utilization',
                annotations: [],
                xaxis:{
                    'range': [-0.5, gridWidth - 0.5],
                    'showgrid': false,
                    'zeroline': false,
                    'visible': false
                },
                yaxis:{
                    'range': [-0.5, gridHeight - 0.5],
                    'showgrid': false,
                    'zeroline': false,
                    'visible': false
                }
            };


            for (var i = 0; i < gridWidth; i++) {
                for (var j = 0; j < gridHeight; j++) {

                    var ann_text = ""

                    if(j * gridWidth + i < groupData.length){
                        ann_text = "<b>" + groupData[j * gridWidth + i].name + "</b><br>" + groupData[j * gridWidth + i].cpu_util + "%";
                    }

                    var result = {
                        x: i,
                        y: j,
                        text: ann_text,
                        font: {
                            family: 'Arial',
                            size: 12,
                            color:'white'
                        },

                        showarrow: false,

                    };
                    layout.annotations.push(result);
                }
            }

            Plotly.newPlot(element, data, layout, {staticPlot: true});
        }


    </script>

{% endblock %}