<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link href="../static/css/dashboard.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

    <title>UNM CS Monitoring</title>
</head>
<body>

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">UNM CS Machines Monitoring </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

</header>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <h2 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Groups</span>
                </h2>
                <ul class="nav flex-column" id="sidebar">
                </ul>
            </div>
        </nav>
    </div>
</div>

<script>
        const hosts = {{ APIData |tojson }};

        <!-- Load sidebar with groups -->
        dropDown = document.getElementById("sidebar");
        Object.keys(hosts).forEach(function (groupName, index) {
            const node = document.createElement('li');
            node.className = "nav-item";
            const link = document.createElement('a');
            link.className = "nav-link fs-3";
            link.href = "#";
            const linkText = document.createTextNode(groupName);
            link.appendChild(linkText);
            node.appendChild(link);
            //node.onclick = function () {
              //  setGroup(groupName)
            //};
            dropDown.appendChild(node);
        });</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>
